/* Footer.css */

.footer {
  background-color: #333;
  color: white;
 
  text-align: center;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
}

.footer-nav {
  display: flex;
  justify-content: left;
  padding-left: 20%;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: thin;
  transition: color 0.4s ease;
  padding-right: 1.5rem;
  padding-left: 2rem;
}



p{
  padding-right: 20%;
  padding-left: 15%;
}