.social-media-links {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.social-media-links a {
  display: inline-block;
  margin: 0 1rem;
  padding-left: 5rem;
}

.social-media-links img {

  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s;
}

.social-media-links img:hover {
  transform: scale(1.1);
}