/* Header.css */
.header-container {
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 6.75rem;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  
 
  
  @media (max-width: 44rem) {
    .header-container {
      flex-direction: column;
      height: auto;
      padding-bottom: 1rem;
    }
  }
  