.open-button {
    background-color: #85b4d4;
    color: #fff;
    border: none;
    padding: 1rem 5rem;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    left: 47%;
    font-size: large;
    bottom: 15rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    
}

.open-button:hover {
    transform: scale(1.07);
}


.white-card {
height: 38rem;
padding: 3.5rem;
background-color: white;
}

.grey-footer {
height: 20rem;
background-color: #333;
}


  