.navbar {
  margin-left: 3rem;
  margin-top: 0.25rem;
}

.modal-dialog {
  width: auto;
  height: fit-content;
  border: none;
  outline: none;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
}

.navbar__item {
  margin-right: 2rem;
}

.navbar__item a {

  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.4s;
}

.navbar__item a:hover {
  color: #000000b8;
}