*{
    box-sizing: border-box;
    margin: 0;
}
#root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
    height: 100%;  
}

html,body{
    background-color: #cee7f6;
    font-family: sans-serif;
    line-height: 1.6rem;
    height: 100%;
}

.header{
    background-color: #005b96;
    text-align: center;
    grid-column: span 12;
    display: flex;
    padding: 1rem;
    align-items: center;  
    justify-content: space-between;
    
}
.header h1{
    color: white;
}
.header img{
    border-radius: 10px;
}

.menu{
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none; 
    gap: 1rem;
}
.menu__link{
    display: block;
    background-color: #b3cde0;
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
    border: none;
    color: blue; 
    width: 130px;
    border-radius: 10px; 
    
}
.menu__link:hover {
    background-color: aqua;
}

.submenu{
    position: absolute;
    padding: 0;
    height: 0;
    background-color: #8fa5b4;
    overflow: hidden;
    list-style-type: none;
    width: 150px;
    border-radius: 10px; 
    
    
}
.submenu__item{
    padding: 0 0.5rem;
}
.submenu__link{
    padding: 0.25rem;
    display: inline-block;
    width: 100%;
}
.submenu__link:hover,
.submenu__link:focus{
    background-color: plum;
}
.menu__item:hover .submenu,
.menu__item:focus-within .submenu{
    height: auto;
}

.footer{
    display: flex;
    background-color: #005b96;
    bottom: 0;
    width: 100%;  
    height: auto;
    color: white;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    grid-column: span 12;
    grid-row: 6/6;
    
}
.footer__link{
    color: rgb(255, 21, 21);
}
.footer__link:hover{
   color: rgb(5, 246, 255);
}


